version: '3'

services:
  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - mosquitto_data:/mosquitto/data
      - mosquitto_config:/mosquitto/config
    networks:
      - iot_network

  node-red:
    image: nodered/node-red:2.0
    ports:
      - "1880:1880"
    volumes:
      - node_red_data:/data
    networks:
      - iot_network
    depends_on:
      - mosquitto

  influxdb:
    image: influxdb:2.0
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    networks:
      - iot_network

networks:
  iot_network:

volumes:
  mosquitto_data:
  mosquitto_config:
  node_red_data:
  influxdb_data:
